    <div id="card-buy" data-id="{{id}}">
        <form action="">
    <h3>{{name}}</h3>
    <p>{{price}}{{currency}}</p>
    <input type="number" data-id="buy-value">
    <button type="button" data-action="decrement">-</button>
    <button type="button" data-action="increment">+</button>
    <button type="submit" data-action="buy">OK</button>
    <button type="button" data-action="cancel">Cancel</button>
        </form>
    </div>
